POSTGRES_USER = luminara_user
POSTGRES_PASSWORD = luminara_password
POSTGRES_HOST = localhost
POSTGRES_PORT = 5432
POSTGRES_DB = luminara_db
SECRET_KEY = PUT_YOUR_SECRET_KEY_HERE USE OPENSSL TO GENERATE ONE
